/* Calendar.css */

.calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.month-box {
  width: 90%;
  margin: 20px 0;
  padding: 10px;
  border-radius: 8px;
}

.month-title {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: #2796f7;
  margin-bottom: 10px;
}

.days-of-week {
  display: grid;
  grid-template-columns: repeat(7, 44px);
  margin-bottom: 10px;
  justify-content: center;
  text-align: center;
}

.day-header {
  font-weight: 400;
  color: gray;
  font-size: 12px;
}

.days-grid {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(7, 44px);
  
}

.link-box {
  font-size: 14px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(32, 32, 32);
  font-weight: 500;
}

.day-box {
  align-self: center;
  align-items: center;
  display: flex;
  justify-content: center;

}

.streak {
  background-color: #2796f7;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
}


.restore-streak{
  background-color: #339605;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
}