@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }
     /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
    }
  }

body{
    margin: 0 0;
    padding: 0 0;
    background-color: aliceblue;
    overflow-x: hidden;
}

*{
    box-sizing: border-box;
    margin: 0 0;
    padding : 0 0;
}

ul li{
    list-style-type: disc;
    margin-left: 20px;
}
ol li{
    list-style-type: decimal;
    margin-left: 20px;
}
h1{
    font-size: 2.0rem;
    font-weight: 700;
    line-height: 1.2;
    margin: 0 0;
    padding: 0 0;
}

